.master-container{
    margin-top: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 300px;
    width: 650px;

    border: 1px solid;
    border-radius: 30px;

    background-color: #fabd56;
}

.master-container ul{
    list-style: none;
    line-height: 3.5;

    max-width: max-content;
    
    font-weight: bold;
}

.master-container img{
    width: 200px;
    border-radius: 100px;
    border: 2px solid ;
}

