.master-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
}

.user-dados{
    border: 1px solid;
}

ul{
    list-style: none;
    line-height: 3.5;
    max-width: max-content;
}

img{
    width: 200px;
    border-radius: 100px;
}

