.search{
    display: flex;
    justify-content:space-between;
    align-items: center;

    width: 650px;
    height: 60px;
    padding: 5px;
}

input{
    width: 90%;
    height: 90%;

    text-align: center;
    font-size: 1.8rem;

    border-radius: 10px;
}

.search img{
    width: 70px;
    cursor: pointer;
}

.search img:active{
    transform: scale(0.5);
    transition: ease-in-out 50ms
}
