.search{
    display: flex;
    justify-content:space-between;
    align-items: center;

    width: 400px;
    height: 60px;
    margin-top: 50px;
}

input{
    width: 80%;
    height: 80%;

    text-align: center;
    font-size: 1.5rem;

    border-radius: 10px;
}

.search img{
    width: 65px;
    cursor: pointer;
}

.search img:active{
    transform: scale(0.5);
    transition: ease-in-out 50ms
}
