.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
}

.repos{
    align-items: center;
    justify-content: center;
    width: 650px;

    margin-top: 50px;
}